<div class="row justify-content-center">
      <% customers.each do |customer| %>
      <div class="col-md-3">
        <%= link_to customer_path(customer) do %>
        <p class="caption h4"><%= customer.name %></p>
        <div class="d-flex">
          <% if customer.profile_image.attached? %>
            <%= image_tag customer.profile_image %>
          <% end %>
        </div>
        <p class="caption"><%= "#{customer.posts.count} 投稿" %></p>
        <% end %>
         <%= render 'relationship', customer: customer %>
      </div>
      <% end %>
    </div>