<p class="d-flex justify-content-end">
   <% if customer_signed_in? && @customer == current_customer %>
   <%= link_to "プロフィール編集", edit_customer_path(@customer), class: "btn-sm btn-success" %>
   <% end %>
   <% if current_customer != @customer %>
   <% if current_customer.following?(@customer) %>
   <%= link_to 'フォロー外す', customer_relationships_path(@customer.id), method: :delete, class: "btn-sm btn-danger" %>
   <% else %>
   <%= link_to 'フォローする', customer_relationships_path(@customer.id), method: :POST, class:"btn-sm btn-success" %>
   <% end %>
 </p>
 <% end %>
 <div class="ml-3 mb-3 card w-100">
   <div class="d-flex">
     <%= attachment_image_tag @customer, :profile_image, size: '100x100', fallback: "no_image.png", class: "mb-3 mt-3 ml-3 profile-img" %>
     <h4 class="ml-5 m-3"><%= @customer.profile %></h4>
   </div>
   <div class="d-flex">
     <%= link_to follows_customer_path(@customer) do %>
     <h6>フォロー<%= @following_customers.count %></h6>
     <% end %>&nbsp;&nbsp;
     <%= link_to followers_customer_path(@customer) do %>
     <h6>フォロワー<%= @follower_customers.count %></h6>
     <% end %>
   </div>
 </div>