<div class="container my-5">
  <h1>ユーザー一覧</h1>
  <div class="post-partial">
    <div class="row">
      <% @customer.each do |customer| %>
        <% if customer.id == 1 %>
        <% else %>
          <div class="col-md-3">
            <%= link_to customer_path(customer) do %><br>
             <p><%= customer.name %></p>
              <% if customer.profile_image.attached? %>
                <%= image_tag customer.profile_image %>
              <% end %>
              <p class="caption"><%= "#{customer.posts.count} 投稿" %></p>
            <% end %>
            <%= render 'relationship', customer: customer %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>