<div class="container my-5">
  <div class="row justify-content-center">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
  <div class="row justify-content-center">
    <% if customer_signed_in? && @customer == current_customer %>
      <h1 class="font-weight-normal mt-5 mb-5">マイページ</h1>
    <% else %>
      <h1 class="font-weight-normal mt-5 mb-5"><%= @customer.name %>さんのページ</h1>
    <% end %>
  </div>
  
  <div class="row justify-content-center">
    <% if customer_signed_in? && @customer == current_customer %>
     <%= link_to "プロフィール編集", edit_customer_path(@customer), class: "btn-sm btn-success" %>
    <% end %>
  </div>
  
  <div class="row justify-content-center">
    <% if @customer.profile_image.attached? %>
      <%= image_tag @customer.profile_image %>
    <% end %>
  </div>
  
  <div class="row justify-content-center">
    <div class="col-4">
    <%= @customer.introduction %>
    </div>
  </div>
  
  <div class="row justify-content-center">
    <%= render 'relationship', customer: @customer %>
  </div>
  
  <div class="row">
    <% @post.each do |post| %>
      <div class="col-3" >
       <%= render "public/posts/show", post: post %>
       <%= link_to '詳細',  post_path(post), class: 'btn btn-info mt-2'%>
      </div>
    <% end %>
  </div>
</div>

