<div class="post-partial">
  <% post.each do |post| %>
    <li id="post-<%= post.id %>">
      <% post.images.each do |image| %>
        <%= image_tag(image, width:100) %>
      <% end %>
      <h4>タグ</h4>
      <%= post.tag.name %>
      <p>旅行先</p>
      <span><%= link_to post.location, post_path(post) %></span>
     <%= render 'star', post: post %>
      <h4>コメント</h4>
         <%= post.post_comment %>
      </li>
      <%= link_to '編集', edit_post_path(post.id) %>
      <%= link_to '削除', post_path(post.id), method: :delete, data: { confirm: '削除してよろしいですか?' } %>
  <% end %>
</div>