<div class='container my-5'>
  <div class='row'>
    <div class="col-lg-3">
      <h5 class="bg-dark text-light text-center">会員一覧</h5>
    </div>
    <table class='table'>
      <thead>
        <tr>
          <th>会員ID</th>
          <th>アイコン</th>
          <th>氏名</th>
          <th>メールアドレス</th>
        </tr>
    　</thead>
    　<tbody>
　      <% @customers.each do |customer| %>
　        <tr>
　          <td><%= customer.id %></td>
　          <td>
　            <% if customer.profile_image.attached? %>
                <%= image_tag customer.profile_image %>
              <% end %>
            </td>
　          <td><h4><%= link_to customer.name, admin_customer_path(customer.id) %></h4></td>
　          <td><%= customer.email %></td>
　          <td>
              <% if customer.customer_freeze %>
                <%= button_to '凍結解除',admin_customer_freeze_path(customer), method: :delete %>
              <% else %>
                <%= button_to '凍結', admin_customer_freeze_path(customer) %>
              <% end %>
            </td>
　        </tr>
　      <% end %>
    　</tbody>
    </table>
  </div>
</div>
