<!DOCTYPE html>
<html>
  <head>
    <title>Countryside</title>
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  
    <% if admin_signed_in? %>
      <%= render "layouts/admin_header" %>
    <% elsif customer_signed_in? %>
      <%= render "layouts/customer_header" %>
    <% else%>
    <% end %>
  <body>
    <%= yield %>
  </body>
  
  <footer class="bg-dark text-white pt-5 pb-4">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-4">
          <p>綺麗な田舎の景色をシェアするレビューサイト</p>
          <% if customer_signed_in? %>
          <h6><%= link_to "退会する", unsubscribe_customer_path(current_customer), class: "text-white" %></h6>
          <% end %>
        </div>
        <div class="col-md-8 text-right">
          <h6 class="text-white mt-2 mb-3">Link</h6>
          <ul class="p-0 list-unstyled">
            <li>
              <a href="homes/about" title="About" class="text-white-50">利用規約</a>
            </li>
            <li>
              <a href="" title="License informations" class="text-white-50">プライバシーポリシー</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</html>
